* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  background: url("./img/bg.jpg") center/cover no-repeat;
}
.container {
  height: 60vh;
  margin: 0 auto;
  /* padding-top: 100px; */
  position: relative;
  max-width: 900px;
  margin-top: 50px;
}

.slider {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slides {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.item1 {
  background: url("./img/1.jpg") center/contain no-repeat;
}
.item2 {
  background: url("./img/2.jpg") center/contain no-repeat;
}
.item3 {
  background: url("./img/3.jpg") center/contain no-repeat;
}
.item4 {
  background: url("./img/4.jpg") center/contain no-repeat;
}
.item5 {
  background: url("./img/5.jpg") center/contain no-repeat;
}

#item1:checked ~ .slider > .item1,
#item2:checked ~ .slider > .item2,
#item3:checked ~ .slider > .item3,
#item4:checked ~ .slider > .item4,
#item5:checked ~ .slider > .item5 {
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
}

input {
  display: none;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}
.text {
  opacity: 0;
  position: absolute;
  color: white;
  font-size: 20px;
  /* width: 100%; */
  z-index: 0;
  transform: translateX(-100%);
  transition: all 0.5s;
}
#item1:checked ~ .panel > .desc > .text1,
#item2:checked ~ .panel > .desc > .text2,
#item3:checked ~ .panel > .desc .text3,
#item4:checked ~ .panel > .desc .text4,
#item5:checked ~ .panel > .desc .text5 {
  opacity: 1;
  z-index: 1;
  transform: translateX(0%);
}
.controls {
  left: 80%;
  margin-left: -98px;
  position: absolute;
}

label {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: all 0.5s;
  border: 2px solid rgb(216, 252, 55);
}

label:hover,
#item1:checked ~ .controls .label1,
#item2:checked ~ .controls .label2,
#item3:checked ~ .controls .label3,
#item4:checked ~ .controls .label4,
#item5:checked ~ .controls .label5 {
  background: rgb(255, 9, 9);
}

label:after {
  padding: 15px;
  /* border: 2px solid #ddd; */
  content: " ";
  display: block;
  height: 12px;
  left: -15px;
  position: absolute;
  top: -15px;
  width: 12px;
  /* background-color: red; */
  /* border-radius: 50%; */
}
